<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <root level="INFO">
        <appender-ref ref="ACCESS_LOG"/>
    </root>

    <appender name="ACCESS_LOG" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>[%d{yyyy-MM-dd HH:mm:ss}:%-3relative][%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>

    <logger name="HTTP" additivity="false">
        <level value = "INFO" />
        <appender-ref ref="CONSOLE_LOG" />
    </logger>

    <appender name="CONSOLE_LOG" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <logger name="HTTP" additivity="false">
        <level value = "INFO" />
        <appender-ref ref="FILE_LOG" />
    </logger>

    <appender name="FILE_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/info-${BY_DATE}.log</file> <!-- 파일을 저장할 경로를 정한다 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch> <!-- 해당 레벨만 기록한다. -->
            <onMismatch>DENY</onMismatch> <!-- 다른 수준의 레벨은 기록하지 않는다.(상위 레벨도 기록 안함), 상위 수준의 레벨에 대한 기록을 원하면 ACCEPT 로 하면 기록된다. -->
        </filter> <!-- 레벨별 필터링이 필요없을 경우 filter class 관련된 부분을 삭제하면 됨-->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>./was-logs/info.%d{yyyy-MM-dd}.%i.log</fileNamePattern> <!-- 해당 패턴 네이밍으로 이전 파일이 기록됨 -->
            <maxFileSize>100MB</maxFileSize> <!-- 한 파일의 최대 용량 -->
            <maxHistory>180</maxHistory> <!-- 한 파일의 최대 저장 기한 -->
            <totalSizeCap>18GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <timestamp key="BY_DATE" datePattern="yyyy-MM-dd" />
</configuration>